/*! HTML5 Boilerplate v7.1.0 | MIT License | https://html5boilerplate.com/ */

/* main.css 1.0.0 | MIT License | https://github.com/h5bp/main.css#readme */
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

 
/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

   html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}




 /* ==========================================================================
   Author's custom styles
   ========================================================================== */


* {
    box-sizing: border-box;
}

body {
  background: #fff;
}

h2,h3 {
    font-family: 'Signika', sans-serif;
    color: #005A32;
    font-weight: 100;
    text-align: center;
    width: 50%;
    margin: auto;
    padding-top: 70px;
    font-size: 36px;
    hyphens: auto;
}

h2 {
    font-size: 22px;
    padding-bottom: 100px;
}

a {
    font-family: 'Signika', sans-serif;
    color: #005A32;
    font-weight: 100;
    text-decoration: none;
    font-size: 40px;
    
} 

/*---------------------------------- 
main-nav
-----------------------------------*/
#navcontainer {
    width: 100%;
    position: fixed;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    z-index: 100;
}

.nav-logo {
    padding-top: 40px;
    left: 0;
    right: 0;
    margin: auto;
    position: absolute;
    width: 180px;
    z-index: 12;
}

/*---------------------------------- 
nav
-----------------------------------*/

#navburger {
    float: right;
    width: 30px;
    height: 20px;
    margin: 50px;
    position: relative;
    cursor: pointer;
    z-index: 11;
}

#navburger span {
    position: absolute;
    height: 3px;
    width: 100%;
    background: #005A32;
    border-radius: 10px;
    opacity: 1;
    left: 0;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .25s ease-in-out;
    -moz-transition: .25s ease-in-out;
    -o-transition: .25s ease-in-out;
    transition: .25s ease-in-out;
}

#navburger span:nth-child(1) {
    top: 0px;
}

#navburger span:nth-child(2),#navburger span:nth-child(3) {
    top: 8px;
}

#navburger span:nth-child(4) {
    top: 16px;
}

#navburger.open span:nth-child(1) {
    top: 8px;
    width: 0%;
    left: 50%;
}

#navburger.open span:nth-child(2) {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}

#navburger.open span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

#navburger.open span:nth-child(4) {
    top: 8px;
    width: 0%;
    left: 50%;
}

.nav {
    background-color: #fff;
    height: 100vh;
    width: 100%;
    opacity: 0;
    position: absolute;
    z-index: 10;
    transition: 1.25s ease-in-out;
}

.nav.on {
    opacity: 1;
}

.nav ul {
    position: absolute;
    width: 100%;
    bottom: 0;
    text-align: center;
    padding: 0;
    transition: 1.25s ease-in-out;
}

.nav ul.up {
    bottom: 25%;
}

.nav li {
    list-style-type: none;
    transition: 1.25s ease-in-out;
    transition-delay: 0.5s;
}

.nav li.open {
    padding: 20px;
}


/*---------------------------------- 
start-container
-----------------------------------*/

.start-container {
    height: 100vh;
}

.circle-container {
    height: 225px;
    width: 225px;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    position: absolute;
}

.header-container {
    left: 0;
    right: 0;
    bottom: 10%;
    position: absolute;
}

.ein {
      animation: ein 4s ease-in-out alternate infinite;
}

@keyframes ein {
    0%      { color: rgba(0, 90, 50, 1);}
    100%    { color: rgba(0, 90, 50, 0.25);}
}

.aus {
    animation: aus 4s ease-in-out alternate infinite;
}

@keyframes aus {
    0%      { color: rgba(0, 90, 50, 0.25);}
    100%    { color: rgba(0, 90, 50, 1);}
}

.circle {
  background: #008D00;
  height: 220px;
  width: 220px;
  border-radius: 50%;
  position: absolute;
  opacity: 0.4;
  transform: translate(0, 0);
}

.circle:nth-child(1) {
  animation: circle-1 4s ease-in-out alternate infinite;
}

.circle:nth-child(2) {
  animation: circle-2 4s ease-in-out alternate infinite; 
}

.circle:nth-child(3) {
  animation: circle-3 4s ease-in-out alternate infinite;
}

.circle:nth-child(4) {
  animation: circle-4 4s ease-in-out alternate infinite;
}

.circle:nth-child(5) {
  animation: circle-5 4s ease-in-out alternate infinite;
}

.circle:nth-child(6) {
  animation: circle-6 4s ease-in-out alternate infinite;
}

.circle:nth-child(7) {
  animation: circle-7 4s ease-in-out alternate infinite;
}


@keyframes circle-1 {
  0%    { transform: translate(0, 0) scale(0.1); }
  100%  { transform: translate(-100px, 0px); }
}

@keyframes circle-2 {
  0%    { transform: translate(0, 0) scale(0.1); }
  100%  { transform: translate(-50px, -86px); }
}

@keyframes circle-3 {
  0%    { transform: translate(0, 0) scale(0.1); }
  100%  { transform: translate(50px, -86px); }
}

@keyframes circle-4 {
  0%    { transform: translate(0, 0) scale(0.1); }
  100%  { transform: translate(100px, 0px); }
}

@keyframes circle-5 {
  0%    { transform: translate(0, 0) scale(0.1); }
  100%  { transform: translate(50px, 86px); }
}

@keyframes circle-6 {
  0%    { transform: translate(0, 0) scale(0.1); }
  100%  { transform: translate(-50px, 86px); }
} 

@keyframes circle-7 {
  0%    { transform: translate(0, 0) scale(0.1); }
  100%  { transform: translate(0px, 0px); }
} 

/*---------------------------------- 
main-container
-----------------------------------*/

.main-container {
    height: 800px;
    background-color: #ffffff;
   
}

.stress {
    position:relative;
    width: 80%;
    margin: 0 10%;
}

.stress img {
    position:absolute;
    width: 100%
}













 /* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

 .hidden {
  display: none !important;
}

/*
* Hide only visually, but have it available for screen readers:
* https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
*
* 1. For long content, line feeds are not interpreted as spaces and small width
*    causes content to wrap 1 word per line:
*    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
*/

.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  white-space: nowrap; /* 1 */
}

/*
* Extends the .visuallyhidden class to allow the element
* to be focusable when navigated to via the keyboard:
* https://www.drupal.org/node/897638
*/

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
  white-space: inherit;
}

/*
* Hide visually and from screen readers, but maintain layout
*/

.invisible {
  visibility: hidden;
}

/*
* Clearfix: contain floats
*
* For modern browsers
* 1. The space content is one way to avoid an Opera bug when the
*    `contenteditable` attribute is included anywhere else in the document.
*    Otherwise it causes space to appear at the top and bottom of elements
*    that receive the `clearfix` class.
* 2. The use of `table` rather than `block` is only necessary if using
*    `:before` to contain the top-margins of child elements.
*/

.clearfix:before,
.clearfix:after {
  content: " "; /* 1 */
  display: table; /* 2 */
}

.clearfix:after {
  clear: both;
}

 
/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

   @media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 1.25dppx),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

 
/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

   @media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important; /* Black prints faster */
        -webkit-box-shadow: none !important;
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre {
        white-space: pre-wrap !important;
    }
    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}


